*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}

[class*='col-']{
    float: left;
    /* border: 1px solid teal; */
}
.row:after{
    content: "";
    clear: both;
    display: block;
}
.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.h-50{
    height: 50px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}.h-600{
    height: 600px;
}

@media screen and (max-width: 600px){
    [class*='col-']{
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px){
    .col-md-1{width: 8.33%}
    .col-md-2{width: 16.66%}
    .col-md-3{width: 25%}
    .col-md-4{width: 33.33%}
    .col-md-5{width: 41.66%}
    .col-md-6{width: 50%}
    .col-md-7{width: 58.33%}
    .col-md-8{width: 66.66%}
    .col-md-9{width: 75%}
    .col-md-10{width: 83.33%}
    .col-md-11{width: 91.66%}
    .col-md-12{width: 100%}
}
.btn{
    padding: 12px 30px;
    font-weight: bold;
    color: blue;
    background-color: whitesmoke;
}
.center{
    display: flex; 
    align-items:center; 
    justify-content:center;
}
a{
    padding: 0px 10px;
    text-decoration: none;
}
.card{
    height: 300px;
}
.card-200{
    height: 200px;
}
.pb-1{
    padding-bottom: 2rem;
}
.w-100{
    width: 85%;
}
.card-f{
    width: 400px;
}
section{
    padding: 2rem 0px;
}
.card-b{
    height: 400px;
}